export GOROOT=/usr/local/go

export ANDROID_HOME=$HOME/Library/Android/sdk
export ANDROID_SDK_ROOT=$ANDROID_HOME
export ANDROID_NDK_ROOT=$ANDROID_HOME/ndk-bundle

PATH_add $HOME/go/bin
PATH_add $ANDROID_HOME/platform-tools/
PATH_add $ANDROID_HOME/emulator/
